<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'transactions/styles.css' %}" />
    <title>Transaction Page</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="{% url 'Dashboard' %}"><i class="fas fa-home"></i>Dashboard</a></li>
                <li><a href="{% url 'Transactions'%}"><i class="fas fa-user"></i>Transactions</a></li>

            </ul>
        </div>
        <div class="main_content">
            <div class="header">Hello Sebastian</div>
        </div>
    </div>
    <div class="e9_1183">
        <h1>Transaction Page </h1> <!-- Updated title -->
        <div class="income-expense-boxes"> <!-- Added income and expense boxes -->
            <div class="income-box">
                <h2>Income</h2>
                <ul class="transaction-list" id="income-list"> <!-- Added income list -->
                </ul>
            </div>
            <div class="expense-box">
                <h2>Expense</h2>
                <ul class="transaction-list" id="expense-list"> <!-- Added expense list -->
                </ul>
            </div>
        </div>
        <div class="total-balance" id="total-balance">Total Balance: 0.00</div> <!-- Updated total balance display -->
        <div class="transaction-inputs"> <!-- Transaction input containers -->
            <input class="add-transaction-input" type="text" id="new-transaction-description" placeholder="Description">
            <input class="add-transaction-input" type="number" id="new-transaction-amount" placeholder="Amount">
            <button class="income-button" onclick="addIncomeTransaction()">Income</button> <!-- Income button -->
            <button class="expense-button" onclick="addExpenseTransaction()">Expense</button> <!-- Expense button -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'transactions/transaction.js'%}"></script>
</body>
</html>
